@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&display=swap');

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  /* scroll-behavior: smooth; */
}

*, *:before, *:after {
  box-sizing: inherit;
  /* border: .5px solid rgb(171, 180, 187);  */
}
@keyframes scaler {
  0%  { transform: scale(0); }
  100% { transform: scale(1); transition-timing-function: cubic-bezier(0,0.8,0.9,1); }
}  
@keyframes fadein {
  0%  { opacity: 0; transform: translateX(50px); }
  100% { opacity: 1; transform: translateX(0px); transition-timing-function: cubic-bezier(0,0.8,0.9,1); }
}  
@keyframes fadeout { 
  0%  { opacity: 1; transform: translateX(0px); }
  100% { opacity: 0; transform: translateX(-50px); transition-timing-function: cubic-bezier(0,0.8,0.9,1); } 
}

/* CURSOR */
.cursor { position: fixed; width: 10px; height: 10px; background: #282922; border-radius: 50%; z-index: 50; pointer-events: none; }
.follower { position: fixed; width: 80px; height: 80px; mix-blend-mode: difference; background: white; border-radius: 50%;  z-index: 49;  pointer-events: none; transition: all .05s ease-in; }
/* wrapper sides with 2er grid */
.wrapper {
  display: grid;
  width: 100%;
  padding: 5em 0;
  grid-template-columns:
    .5fr
    1fr
    1fr
    .5fr;
}
.wrapper > * {
  grid-column: 2;
}
.wrapper p {
  width: 300px;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 5;
}

/* wrapper 4er grid */
.wrapper2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  /* grid-auto-flow: dense; */
  width: 100%;
  left: 0;
  /* start • end • center • stretch */
  justify-items: center;
  align-items: center;
}
.wrapper2 > * {
  grid-column: 2;
}
.wrapper2 img {
    display: block; 
    width: 100%; 
    object-fit: cover; 
    object-position: center;
    
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 
                0 2px 2px rgba(0,0,0,0.1), 
                0 4px 4px rgba(0,0,0,0.1), 
                0 8px 8px rgba(0,0,0,0.1),
                0 16px 16px rgba(0,0,0,0.1);
}

.big { grid-column: span 2; }
.full { grid-column: span 3; }
/* .zweier:nth-of-type(odd) { grid-row-end: -1; }  */
.mt { margin-top: 4em; }
.stretch { align-self: stretch; }
.end { align-self: end; }
.content { padding: .005em; }


.light-bg   { background: rgb(240,240,240); }
.inh        { background: rgb(20, 20, 30); }
.inh-hero   { background: rgb(0, 0, 0); }
.rhym       { background: rgb(0, 61, 255); }
.rhym-hero  { background: rgb(0, 0, 0); }
.black      { background: #000000; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul { margin: 0; padding: 0; letter-spacing: 0.022em; }

ol, ul { list-style: none; }

img {
  max-width: 100%;
  height: auto;
}

h1 { width: 381px; font-weight: 300; font-size: 2.5em; letter-spacing: .01em; line-height: 1.3em; color: #282922; }
h1 span { font-weight: 500; font-size: 1em; color: #b8b8b8;}
h2 { font-size: 6em; font-weight: 500; line-height: 1em; color: #efefef; letter-spacing: -.06em; }
h3 { font-size: 3em; color: rgba(255, 255, 255, 0.379); width: 70%; text-shadow: none; }
h5 { font-size: 10px; font-weight: 300; color: #eeeeee; margin-left: 6px; margin-top: 40px; letter-spacing: .3em; text-transform: uppercase; }
p  { margin-bottom: 1em; font-size: 26px; line-height: 1.4em; font-weight: 100; color: #ececec; }
a  { text-decoration: none; transition: all ease .3s; }

.container {
  min-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.back-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  top: 10em;
  left: 24%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: rgba(150, 150, 150, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  font-size: 10px;
  letter-spacing: 2px;
  color: black;
  transform-origin: 50% 50%;
  z-index: 99;
}
.back-btn:hover { background: rgb(50, 50, 60); color: whitesmoke; }

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  padding: 5em;
  background: #ececec;
  height: 140vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: 0;
}

.hero2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  height: 160vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  z-index: 1;
}
.hero-short {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5em;
  height: 60vh;
  display: flex;
  overflow: hidden;
  z-index: 1;
}
img.hero-middle { position: absolute; top: 10vh; max-height: 60vh; }

img .full {
  position: absolute;
  object-fit: cover;
  width: 90%;
}

section img { 
  opacity: 0;
  transform: translateY(50px);
  transform-origin: center center;
  transition: all ease .8s; 
}

section img.active {
  transform: translateY(0);
  opacity: 1;
  transition: all ease .4s;
}

.back {
  position: absolute;
  height: 80px;
  left: 0;
  margin: 5em;
  z-index: 50;
}

.portrait {
  position: sticky;
  height: 90vh;
  width: auto;
  right: 0;
  bottom: 0;
  object-fit: cover;
  z-index: 0;
}

.hero h1 { margin-bottom: 40vh; }

@media (max-width: 1100px) { 
  .hero { flex-direction: column; padding: 0em; }
  .hero img { width: 100%; top: 25vh; }
  .portrait { position: sticky; left: 0; bottom: 0; height: 90vh; height: 500px; z-index: 0; }
  h1 { position: absolute; font-size: 1.8em; top: 7em; left: 1em; width: 280px; }
}


.light { color: white; text-shadow: #828282 0 1px 2px; }
.grey { color: #828282; }
.dark { color: #282922; margin-bottom: 10px; }


.glass {
  position: absolute;
  top: 100vh;
  left: 0;
  padding: 10em;
  width: 100%;
  height: 60vh;
  background: rgba(150, 150, 150, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 30;
}
h5 span { font-weight: 600; }
.glass p { color: #252525; width: 60%; min-width: 400px; }
.glass img { object-fit: cover; opacity: 1; width: 200px; margin-bottom: 50px; }
@media (max-width: 1050px) {
  .glass img { object-fit: contain; opacity: 1; width: 250px; height: 250px; margin-bottom: 20px; }
}

.panel {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: 30;
}
.panel h5 { margin-bottom: 1.5em; }
.panel p { font-size: 2.5vmax; color: rgba(250,250,250,0.6); min-width: 300px; max-width: 50%; line-height: 1.4em; }
.panel img { object-fit: cover; }

.texto { position: absolute; left: 30%; width: 700px; top: 40vh; margin-bottom: 20em; }
.texto p { color: rgb(50, 50, 50); line-height: 1.46em; }
.texto p span { font-weight: 400; color: rgb(159, 159, 159); }
.texto h5 { left: -8px; color: #828282; margin-bottom: 8px; }
@media (max-width: 1000px) { 
  .texto { width: calc(100% - 3em); left: 1.5em; }
}

/* viewing of projects in index */
.view {
  padding: 5em;
  height: 100vh;
  width: 100vw;
  min-height: 500px;
  z-index: 5;
  display: flex;
}

.image-full img {
  position: sticky;
  object-fit: contain;
  width: 100%;
  height: 100%;
  z-index: 0;
}







/* WRAPPER VIEW */
.wrapper-view {  
  position: relative;
  display: grid;
  grid-template-columns: 1fr .6fr 1fr;
  grid-gap: 5em 2em;
  /* grid-auto-flow: dense; */
  width: 80%;
  left: 10%;
  /* start • end • center • stretch */
  justify-items: center;
  align-items: center;
}
.wrapper-view:last-of-type { padding-bottom: 6em; }
.wrapper-view h5 { max-width: 260px; left: -5px; margin-bottom: 22px; }
.wrapper-view span { max-width: 300px; }
.zweier { grid-column: span 2; }
.ganz { grid-column: span 3; }
.rechts { grid-row-end: 1; }
/* .zweier:nth-of-type(odd) { grid-row-end: -1; }  */
.mt { margin-top: 4em; }

.wrapper-view img { display: block; width: 100%; object-fit: cover; object-position: center; }

@media (max-width: 800px) { 

  .wrapper-view {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em 2em;
    width: calc(100% - 4em);
    left: 0%;
    padding: 2em;
    /* start • end • center • stretch */
    justify-items: center;
    align-items: center;
  }
  .wrapper-view span { min-width: 100%; }
}
  /* WRAPPER VIEW END */





.view img { max-height: 100vh; }
.view .centered { width: 100%; position: absolute; left: 0; z-index: 10; }
.view h5 { margin-bottom: 8px; }
.view span h5:first-child { margin-top: 0;}
@media (max-width: 1050px) { 
  .view { padding: 3em; }
  .view h5 { margin-left: 2px; }
  .view h2 { font-size: 5vmin; font-weight: 200; margin-bottom: 0px; width: 80%; }
  .view .arrow { width: 50px; margin-bottom: -0.1em; margin-right: .25em; z-index: 20; }
}

/* showing the work */
.show {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-gap: 2em 2em;
  /* grid-auto-flow: dense; */
  width: 100%;
  left: 0;
  /* start • end • center • stretch */
  justify-items: center;
  align-items: center;
  padding: 0 5em 3em 5em;
}

.show * { border: 0px solid red; }
.zweier { grid-column: span 2; }
.show img {
  flex: 0 50%;
  object-fit: contain;
  height: auto;
  max-width: 1200px;
  min-width: 30vw;
}
.shadow {
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}
.show span { 
  max-width: 320px;
  margin: 0 2.2em;
  flex: 0 50%; 
}
.show span h5 { 
  left: -8px; 
  margin-bottom: 16px; 
  font-weight: 600;
  font-size: 8px;
  opacity: .6;
}
@media (max-width: 1050px) { 
  .show { padding: 6em 2em; }
  .show span { max-width: 60%; min-width: 320px; flex: 0 100%; }
}

.footer {
  display: flex;
  padding: 5em;
  background-color: #ececec;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

.off { background: #efefef; }

.footer h3 { font-weight: 300; line-height: .9em; margin-bottom: .3em; color:#c4c4c4; width: 300px; }
.arrow { font-size: 4em; font-weight: 400; color: #282922; transition: all ease .6s; z-index: 50;  }
.arrow img { opacity: .2; margin-right: 16px; transition: all ease .6s; }
.arrow:hover img { opacity: .9; margin-right: 22px; transition: all ease-in-out .3s; }
.copy { color: #ccc; font-size: 10px; font-weight: 600; letter-spacing: .05em; text-transform: uppercase; }
.copy a { color: rgb(130, 130, 130); font-weight: 600; margin: 0 0 0 3em; }
.copy a:hover { color: rgb(110,110,110); }

@media (max-width: 1050px) { 
  .hero { padding: 0; }
  .footer { flex-direction: column; align-items: center; justify-content: flex-end; padding: 2em; }
  .footer .text { position: relative; bottom: 3em; }
  .footer h3 { font-size: 30px; text-align: center;}
  .footer span.copy { align-self: center; }
  .footer .arrow { font-size: 40px; align-self: center; }
  .footer .arrow img { height: 30px; transform: translateX(-6px); margin-right: .1em; }
}


.flex { display: flex; flex-wrap: wrap; }

.align-center   { margin: auto; align-self: center; }
.align-left     { margin-right: auto; align-self: center; }

.align-x-left   { margin-right: auto; }
.align-x-center { margin-right: auto; margin-left: auto; }
.align-x-right  { margin-left: auto; }

.align-y-top    { align-self: flex-start; }
.align-y-center { align-self: center; }
.align-y-bottom { align-self: flex-end; }

 h2, h3, h4, h5, h6, p { position: relative; z-index: 20; }

/* 
@keyframes fadein {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0px); }
  }

@keyframes fadeout {
  0% { opacity: 1; transform: translateY(0px); }
  100% { opacity: 0; transform: translateY(20px); }
  }
 */